In [1]:
import numpy as np
import pandas as pd

In [57]:
data = pd.read_csv('data\WA_Fn-UseC_-Telco-Customer-Churn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [58]:
data['gender'].replace(to_replace = ['Male','Female'],value = [1,0], inplace = True)
data['Partner'].replace(to_replace = ['Yes','No'], value = [1,0], inplace = True)
data['Dependents'].replace(to_replace = ['Yes','No'], value = [1,0], inplace = True)
data['PhoneService'].replace(to_replace = ['Yes','No'], value = [1,0], inplace = True)
data['PaperlessBilling'].replace(to_replace = ['Yes','No'], value = [1,0], inplace = True)
data['Churn'].replace(to_replace = ['Yes','No'], value = [1,0], inplace = True)

data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,No phone service,DSL,No,...,No,No,No,No,Month-to-month,1,Electronic check,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,0,Mailed check,56.95,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,No,DSL,Yes,...,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,No,Fiber optic,No,...,No,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,1

In [59]:
temp1 = pd.get_dummies(data['MultipleLines'], prefix = 'MultipleLines')
temp2 = pd.get_dummies(data['InternetService'], prefix = 'InternetService')
temp3 = pd.get_dummies(data['OnlineSecurity'], prefix = 'OnlineSecurity')
temp4 = pd.get_dummies(data['OnlineBackup'], prefix = 'OnlineBackup')
temp5 = pd.get_dummies(data['DeviceProtection'], prefix = 'DeviceProtection')
temp6 = pd.get_dummies(data['TechSupport'], prefix = 'TechSupport')
temp7 = pd.get_dummies(data['StreamingTV'], prefix = 'StreamingTV')
temp8 = pd.get_dummies(data['StreamingMovies'], prefix = 'StreamingMovies')
temp9 = pd.get_dummies(data['Contract'], prefix = 'Contract')
temp10 = pd.get_dummies(data['PaymentMethod'], prefix = 'PaymentMethod')

data = pd.concat([data,temp1,temp2,temp3,temp4,temp5,temp6,temp7,temp8,temp9,temp10], axis = 1)
data = data.drop(['MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaymentMethod'], axis = 1)

print(data.shape)
data.head()

(7043, 42)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,...,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,0,1,0,1,0,1,29.85,29.85,...,1,0,0,1,0,0,0,0,1,0
1,5575-GNVDE,1,0,0,0,34,1,0,56.95,1889.5,...,1,0,0,0,1,0,0,0,0,1
2,3668-QPYBK,1,0,0,0,2,1,1,53.85,108.15,...,1,0,0,1,0,0,0,0,0,1
3,7795-CFOCW,1,0,0,0,45,0,0,42.30,1840.75,...,1,0,0,0,1,0,1,0,0,0
4,9237-HQITU,0,0,0,0,2,1,1,70.70,151.65,...,1,0,0,1,0,0,0,0,1,0

In [51]:
data['TotalCharges'][1340]

' '

In [70]:
data['TotalCharges'] = data['TotalCharges'].replace(" ",np.nan)
data.dropna(inplace = True)
# data.shape

(7032, 42)

In [77]:
data['TotalCharges'] = data['TotalCharges'].astype('float')
data.dtypes

customerID                                  object
gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                       int64
PhoneService                                 int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
MultipleLines_No                             uint8
MultipleLines_No phone service               uint8
MultipleLines_Yes                            uint8
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
InternetService_No                           uint8
OnlineSecurity_No                            uint8
OnlineSecurity_No internet service           uint8
OnlineSecurity_Yes                           uint8
OnlineBackup_No                              uint8
OnlineBackup_No internet service             uint8
OnlineBackup_Yes                             uint8
DeviceProtection_No                          uint8
DeviceProtection_No internet service         uint8
DeviceProtection_Yes                         uint8
TechSupport_No                               uint8
TechSupport_No internet service              uint8
TechSupport_Yes                              uint8
StreamingTV_No                               uint8
StreamingTV_No internet service              uint8
StreamingTV_Yes                              uint8
StreamingMovies_No                           uint8
StreamingMovies_No internet service          uint8
StreamingMovies_Yes                          uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
train, test = train_test_split(data, test_size = 0.2, random_state = 19)

In [62]:
train.to_csv(r'data\train_data.csv', index = False, header = True)

In [ ]:
test.to_csv(r'data\test_data.csv', index = False, header = True)